Repository depromeet/na-lab-client, pull requests merged in 2023-04, with the labels that each got.

#7 eslint rule 추가 및 lint-staged 명령어 분리
  .eslintrc.js
  .lintstagedrc.json
Labels: chore

#8 stylelint typescript 파일 비활성화
  .vscode/settings.json
  src/pages/index.page.tsx
Labels: chore

#11 파일 명 eslint rule 추가
  .eslintrc.js
  .pnp.cjs
  .yarn/cache/builtin-modules-npm-3.3.0-db4f3d32de-db021755d7.zip
  .yarn/cache/ci-info-npm-3.8.0-d56a0b67d6-d0a4d31604.zip
  .yarn/cache/clean-regexp-npm-1.0.0-f349f98f15-0b1ce281b0.zip
  .yarn/cache/eslint-plugin-unicorn-npm-46.0.0-2fdcf1adc9-30f9c67b9f.zip
  .yarn/cache/is-builtin-module-npm-3.2.1-2f92a5d353-e8f0ffc19a.zip
  .yarn/cache/jsesc-npm-0.5.0-6827074492-b8b44cbfc9.zip
  .yarn/cache/jsesc-npm-3.0.2-3b3b74ec0d-a36d3ca405.zip
  .yarn/cache/pluralize-npm-8.0.0-f5f044ed52-08931d4a6a.zip
  .yarn/cache/regexp-tree-npm-0.1.25-ceda98de44-7117d23783.zip
  .yarn/cache/regjsparser-npm-0.9.1-47cd7c2ee2-5e1b76afe8.zip
  .yarn/cache/safe-regex-npm-2.1.1-4438cded67-5d734e2193.zip
  .yarn/cache/semver-npm-7.5.0-160502ad5d-2d26693775.zip
  package.json
  yarn.lock
Labels: chore

#15 GA, HOTJAR, MIXPANEL 설치
  .gitignore
  .pnp.cjs
  .yarn/cache/@types-gtag.js-npm-0.0.12-6390d727c7-34efc27fbf.zip
  .yarn/cache/@types-mixpanel-browser-npm-2.38.1-fa504735b5-ff32a3ca24.zip
  .yarn/cache/mixpanel-browser-npm-2.46.0-ba26397b08-0d10c67344.zip
  .yarn/cache/react-hotjar-npm-6.1.0-6e4f496fde-555600eb27.zip
  next.config.js
  package.json
  src/components/MonitoringInitializer.tsx
  src/libs/gtag.ts
  src/pages/_app.page.tsx
  tsconfig.json
  yarn.lock
Labels: feat

#17 Life cycle hook
  .pnp.cjs
  .yarn/cache/@testing-library-react-hooks-npm-8.0.1-e0c7be6ffb-7fe44352e9.zip
  .yarn/cache/react-error-boundary-npm-3.1.4-2310dba89e-f36270a5d7.zip
  package.json
  src/hooks/lifeCycle/useDidMount.test.tsx
  src/hooks/lifeCycle/useDidMount.ts
  src/hooks/lifeCycle/useDidUpdate.test.tsx
  src/hooks/lifeCycle/useDidUpdate.ts
  yarn.lock
Labels: feat, test: unit

#22 eslint setting 설정
  .eslintrc.js
Labels: fix, :zap:

#23 `useBoolean`, `uesInput` hook
  src/hooks/.gitkeep
  src/hooks/common/useBoolean.test.ts
  src/hooks/common/useBoolean.ts
  src/hooks/common/useInput.test.tsx
  src/hooks/common/useInput.ts
Labels: feat, test: unit

#27 리드미 뱃지 적용
  README.md
Labels: docs, :zap:

#24 `customRender` 유틸
  src/__test__/.gitkeep
  src/__test__/ReactQueryWrapper.tsx
  src/__test__/customRender.tsx
Labels: feat, test: unit

#26 이벤트 기록 유틸 개발
  .eslintrc.js
  @types/environment.d.ts
  next.config.js
  src/libs/gtag.ts
  src/utils/event.test.ts
  src/utils/event.ts
Labels: feat, test: unit
