Repository depromeet/na-lab-client, pull requests merged in 2023-05, with the labels that each got.

#30 InternalLink, useInternalRouter 개발
  .pnp.cjs
  .yarn/cache/@adobe-css-tools-npm-4.2.0-26da6de88a-dc5cc92ba3.zip
  .yarn/cache/@jest-expect-utils-npm-29.5.0-69b6ba2629-c46fb677c8.zip
  .yarn/cache/@testing-library-jest-dom-npm-5.16.5-b6d1f4e02f-94911f901a.zip
  .yarn/cache/@types-jest-npm-29.5.1-0eddfd7e9a-0a22491dec.zip
  .yarn/cache/@types-stack-utils-npm-2.0.1-867718ab70-205fdbe332.zip
  .yarn/cache/@types-testing-library__jest-dom-npm-5.14.5-251c4c9d75-dcb0541675.zip
  .yarn/cache/css.escape-npm-1.5.1-b24d2ba77a-f6d38088d8.zip
  .yarn/cache/diff-sequences-npm-29.4.3-ffe403944f-28b265e04f.zip
  .yarn/cache/escape-string-regexp-npm-2.0.0-aef69d2a25-9f8a2d5743.zip
  .yarn/cache/expect-npm-29.5.0-395e2d6fda-58f70b3869.zip
  .yarn/cache/jest-diff-npm-29.5.0-5c9573ed73-dfd0f4a299.zip
  .yarn/cache/jest-get-type-npm-29.4.3-790eefdb01-6ac7f2dde1.zip
  .yarn/cache/jest-matcher-utils-npm-29.5.0-f255c78df4-1d3e8c746e.zip
  .yarn/cache/jest-message-util-npm-29.5.0-910b21363f-daddece6bb.zip
  .yarn/cache/next-router-mock-npm-0.9.3-a0b06e929c-5e8a6ffd55.zip
  .yarn/cache/pretty-format-npm-29.5.0-4f1086147d-4065356b55.zip
  .yarn/cache/react-is-npm-18.2.0-0cc5edb910-e72d0ba81b.zip
  .yarn/cache/stack-utils-npm-2.0.6-2be1099696-052bf4d25b.zip
  @types/tests.d.ts
  package.json
  src/components/.gitkeep
  src/components/link/InternalLink.test.tsx
  src/components/link/InternalLink.tsx
  src/hooks/router/useInternalRouter.test.tsx
  src/hooks/router/useInternalRouter.ts
  vitest.config.ts
  vitest.setup.ts
  yarn.lock
Labels: feat, test: unit

#33 typecov CI 추가
  .github/workflows/ci.yml
Labels: workflow, ci

#37 package 이름 변경 및 ci 조건문 추가
  .github/workflows/ci.yml
  README.md
  package.json
Labels: docs, workflow, ci, :zap:

#40 useDebounce 작성
  src/hooks/common/useDebounce.test.tsx
  src/hooks/common/useDebounce.ts
Labels: feat, test: unit

#38 모바일 레이아웃 적용
  src/pages/_app.page.tsx
  src/styles/theme.ts
Labels: style, :zap:

#39 Portal, AnimatePortal, BottomSheet 개발
  .pnp.cjs
  .storybook/main.ts
  .yarn/cache/@babel-helper-plugin-utils-npm-7.21.5-b310faa7aa-6f086e9a84.zip
  .yarn/cache/@babel-helper-string-parser-npm-7.21.5-9fa0e56f04-36c0ded452.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-npm-7.21.5-e491c01f3b-fe25e612d0.zip
  .yarn/cache/@babel-types-npm-7.21.5-3c8c157928-43242a99c6.zip
  .yarn/cache/@emotion-babel-plugin-jsx-pragmatic-npm-0.2.0-346b7bc629-fb7a386ff1.zip
  .yarn/cache/@emotion-babel-plugin-npm-11.10.8-e05d169fbe-b8e2ed0c68.zip
  .yarn/cache/@emotion-babel-preset-css-prop-npm-11.10.0-e0d07b457a-09d91e89ec.zip
  .yarn/cache/stylis-npm-4.1.4-315bbc8322-cd929bd897.zip
  package.json
  src/components/bottomSheet/BottomSheet.stories.tsx
  src/components/bottomSheet/BottomSheet.test.tsx
  src/components/bottomSheet/BottomSheet.tsx
  src/components/portal/AnimatePortal.test.tsx
  src/components/portal/AnimatePortal.tsx
  src/components/portal/Portal.test.tsx
  src/components/portal/Portal.tsx
  src/components/scrim/default.style.ts
  src/constants/motions.ts
  src/pages/index.page.tsx
  tsconfig.json
  yarn.lock
Labels: feat, test: unit

#45 useLongPress 작성
  src/hooks/common/useLongPress.test.tsx
  src/hooks/common/useLongPress.ts
Labels: feat, test: unit

#50 SEO 컴포넌트
  src/components/SEO/SEO.test.tsx
  src/components/SEO/SEO.tsx
  src/components/TestButton.stories.tsx
  src/components/TestButton.tsx
  src/components/monitoring/MonitoringInitializer.tsx
  src/pages/_app.page.tsx
Labels: feat, test: unit

#53 에러 스키마 변경 및 대응
  src/exceptions/ApiException.ts
  src/exceptions/type.ts
  src/libs/api.ts
Labels: :zap:

#59 Svg 컴포넌트 및 기본 아이콘
  src/components/icons/ArrowIcon.tsx
  src/components/icons/Icon.stories.tsx
  src/components/icons/LineThreeDotsIcon.tsx
  src/components/icons/XIcon.tsx
  src/components/icons/type.ts
  src/components/svg/Svg.test.tsx
  src/components/svg/Svg.tsx
Labels: feat, test: unit

#54 폰트 적용 및 타이포그래피 css 선언
  src/assets/fonts/Pretendard.woff2
  src/assets/fonts/pretendard.ts
  src/pages/_app.page.tsx
  src/styles/typo.stories.tsx
  src/styles/typo.ts
Labels: style

#55 production 환경 next config 추가 설정
  next.config.js
Labels: chore, :zap:

#68 getParsedDate 유틸함수 개발
  src/utils/getParsedDate.test.ts
  src/utils/getParsedDate.ts
Labels: feat, test: unit, :zap:

#72 Color 디자인 시스템 테마에 추가
  src/styles/color.stories.tsx
  src/styles/color.ts
  src/styles/theme.ts
Labels: style

#49 Drag and Drop Component 만들기
  package.json
  src/features/createSurvey/CreateSurvey.test.tsx
  src/features/createSurvey/CreateSurvey.tsx
  src/features/createSurvey/cardList/Card.test.tsx
  src/features/createSurvey/cardList/Card.tsx
  src/features/createSurvey/cardList/CardList.stories.tsx
  src/features/createSurvey/cardList/CardList.test.tsx
  src/features/createSurvey/cardList/CardList.tsx
  src/features/createSurvey/cardList/CardListWithDnd.tsx
  src/features/createSurvey/cardList/CardWithDnd.tsx
  src/features/createSurvey/cardList/PlusIcon.tsx
  src/features/createSurvey/cardList/ReorderIcon.tsx
Labels: feat, test: unit

#62 useMouseMove
  src/hooks/mouse/useMouseMove.stories.tsx
  src/hooks/mouse/useMouseMove.ts
  src/utils/math.test.ts
  src/utils/math.ts
Labels: feat, test: unit

#95 storybook decorator 설정
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/preview.tsx
  src/styles/color.stories.tsx
  src/styles/typo.stories.tsx
Labels: feat, style, :zap:

#43 useMobileKeypadOpen, useUserAgent 개발
  src/hooks/keypad/useMobileKeypadOpen.stories.tsx
  src/hooks/keypad/useMobileKeypadOpen.ts
  src/utils/agent.test.ts
  src/utils/agent.ts
Labels: feat, test: unit

#79 eslint rule 추가
  .eslintrc.js
  src/components/bottomSheet/BottomSheet.test.tsx
  src/components/portal/AnimatePortal.test.tsx
  src/features/createSurvey/CreateSurvey.tsx
  src/hooks/common/useDebounce.ts
  src/hooks/lifeCycle/useDidUpdate.ts
Labels: chore, test: unit

#82 HEAD_3_SEMIBOLD 추가
  src/styles/typo.stories.tsx
  src/styles/typo.ts
  src/utils/agent.ts
Labels: style

#74 system color 추가 반영
  src/styles/color.stories.tsx
  src/styles/color.ts
Labels: style

#84 Button, CTAButton
  src/components/button/Button.stories.tsx
  src/components/button/Button.test.tsx
  src/components/button/Button.tsx
  src/components/button/CTAButton.stories.tsx
  src/components/button/CTAButton.tsx
  src/styles/theme.ts
Labels: feat, style, test: unit

#99 feat: 스토리북 decoration LazyMotion 적용
  .storybook/preview.tsx
Labels: feat

#100 협업했던 팀원 뱃지 작성
  src/features/feedback/CollaborationBadge.stories.tsx
  src/features/feedback/CollaborationBadge.tsx
Labels: feat

#101 읽지않음 노티피케이션용 아이콘
  src/features/feedback/UnreadBadgeIcon.stories.tsx
  src/features/feedback/UnreadBadgeIcon.tsx
Labels: feat

#102 useStep, useElementStep 개발 및 리뷰 페이지 생성
  src/features/review/Intro.tsx
  src/hooks/step/useElementStep.ts
  src/hooks/step/useStep.ts
  src/pages/review/[token].page.tsx
Labels: feat

#105 StaggerWrapper
  .storybook/preview.tsx
  src/components/stagger/StaggerWrapper.stories.tsx
  src/components/stagger/StaggerWrapper.tsx
  src/constants/motions.ts
Labels: feat

#106 Circle button
  src/components/button/Button.tsx
  src/components/button/CircleButton.stories.tsx
  src/components/button/CircleButton.test.tsx
  src/components/button/CircleButton.tsx
  src/components/button/type.ts
Labels: feat, test: unit

#107 Layout 적용 및 23px Layout 컴포넌트
  src/components/layout/LayoutPaddingTo23.tsx
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
Labels: feat

#116 review intro step
  src/features/review/Intro.tsx
  src/features/review/steps/Intro.tsx
  src/features/review/steps/ReviewSteps.stories.tsx
  src/features/review/steps/type.ts
  src/features/review/style.ts
  src/hooks/step/useInjectedElementStep.ts
  src/pages/review/[token].page.tsx
Labels: feat

#128 review - step status
  src/features/review/StepStatus.stories.tsx
  src/features/review/StepStatus.tsx
Labels: feat

#122 타이포그래피 Detail 추가
  src/styles/typo.ts
Labels: style

#137 Feedback 컴포넌트 작성
  src/constants/position.ts
  src/features/feedback/Feedback.stories.tsx
  src/features/feedback/Feedback.tsx
  src/features/feedback/UnreadBadgeIcon.tsx
Labels: feat

#130 review - question header / global font color
  src/features/review/QuestionHeader.stories.tsx
  src/features/review/QuestionHeader.tsx
  src/styles/GlobalStyle.tsx
  src/styles/typo.ts
Labels: feat, style

#136 normalize reset으로 변경
  .pnp.cjs
  .yarn/cache/emotion-normalize-npm-11.0.1-b4905b7500-f33c6ac75e.zip
  package.json
  src/styles/GlobalStyle.tsx
  yarn.lock
Labels: style

#143 review - 협업 경험 step
  src/components/button/CircleButton.tsx
  src/features/review/BottomNavigation.tsx
  src/features/review/steps/Cowork.tsx
  src/features/review/steps/ReviewSteps.stories.tsx
  src/pages/review/[token].page.tsx
Labels: feat

#66 Dialog 컴포넌트 작성
  .storybook/preview.tsx
  src/components/button/Button.tsx
  src/components/dialog/Dialog.stories.tsx
  src/components/dialog/Dialog.test.tsx
  src/components/dialog/Dialog.tsx
  src/components/dialog/DialogButton.tsx
  src/components/dialog/DialogText.tsx
  src/components/icons/BlueWarningIcon.tsx
  src/hooks/common/useScrollLock.test.tsx
  src/hooks/common/useScrollLock.ts
Labels: feat, test: unit

#156 나의 질문폼 페이지 스타일 수정
  src/components/header/Header.tsx
  src/features/createSurvey/CreateSurvey.tsx
  src/features/createSurvey/addSurveyForm/AddMyQuestion.tsx
  src/features/createSurvey/addSurveyForm/AddSurveyForm.tsx
  src/features/createSurvey/questionList/Question.tsx
  src/features/createSurvey/questionList/QuestionWithDnd.tsx
  src/features/createSurvey/styles.ts
  src/pages/createSurvey/create.page.tsx
Labels: style

#158 akamai 이미지 최적화
  loader.js
  next.config.js
Labels: fix, :zap:

#162 로컬스토리지 hook생성
  src/hooks/storage/useLocalStorage.test.tsx
  src/hooks/storage/useLocalStorage.ts
Labels: feat, test: unit

#157 질문 폼 페이지 폴더 이름 변경
  src/features/changeQuestion/ChangeQuestion.tsx
  src/features/survey/CreateSurvey.tsx
  src/features/survey/Intro.tsx
  src/features/survey/addSurveyForm/AddMyQuestion.stories.tsx
  src/features/survey/addSurveyForm/AddMyQuestion.tsx
  src/features/survey/addSurveyForm/AddSurveyForm.stories.tsx
  src/features/survey/addSurveyForm/AddSurveyForm.tsx
  src/features/survey/addSurveyForm/TextToggle.stories.tsx
  src/features/survey/addSurveyForm/TextToggle.tsx
  src/features/survey/addSurveyForm/choiceForm/Check.tsx
  src/features/survey/addSurveyForm/choiceForm/ChoiceForm.tsx
  src/features/survey/addSurveyForm/choiceForm/Counter.tsx
  src/features/survey/addSurveyForm/choiceForm/MaximumSelect.tsx
  src/features/survey/addSurveyForm/selectionTextfieldList/SelectionTextfield.tsx
  src/features/survey/addSurveyForm/selectionTextfieldList/SelectionTextfieldList.stories.tsx
  src/features/survey/addSurveyForm/selectionTextfieldList/SelectionTextfieldList.tsx
  src/features/survey/constants.ts
  src/features/survey/intro/Intro.tsx
  src/features/survey/intro/WatsonCharacter.tsx
  src/features/survey/questionList/Question.tsx
  src/features/survey/questionList/QuestionList.stories.tsx
  src/features/survey/questionList/QuestionList.tsx
  src/features/survey/questionList/QuestionListWithDnd.tsx
  src/features/survey/questionList/QuestionWithDnd.tsx
  src/features/survey/styles.ts
  src/features/survey/types.ts
  src/pages/survey/create.page.tsx
  src/pages/survey/index.page.tsx
  src/pages/survey/intro.page.tsx
Labels: refactor

#150 Pill
  src/components/graphic/softskills/Softskill.tsx
  src/components/graphic/softskills/index.ts
  src/components/graphic/softskills/type.ts
  src/components/graphic/softskills/개성이_뚜렷한.tsx
  src/components/graphic/softskills/결단력_있는.tsx
  src/components/graphic/softskills/경청하는.tsx
  src/components/graphic/softskills/계획적인.tsx
  src/components/graphic/softskills/공감_능력이_좋은.tsx
  src/components/graphic/softskills/긍정적인.tsx
  src/components/graphic/softskills/꼼꼼한.tsx
  src/components/graphic/softskills/논리적인.tsx
  src/components/graphic/softskills/눈치_빠른.tsx
  src/components/graphic/softskills/도전적인.tsx
  src/components/graphic/softskills/리더십_있는.tsx
  src/components/graphic/softskills/사교적인.tsx
  src/components/graphic/softskills/사기를_불어넣는.tsx
  src/components/graphic/softskills/성실한.tsx
  src/components/graphic/softskills/열정적인.tsx
  src/components/graphic/softskills/완벽주의적인.tsx
  src/components/graphic/softskills/융통성_있는.tsx
  src/components/graphic/softskills/적응력_좋은.tsx
  src/components/graphic/softskills/주관있는.tsx
  src/components/graphic/softskills/창의적인.tsx
  src/components/graphic/softskills/책임감_강한.tsx
  src/components/graphic/softskills/추진력_있는.tsx
  src/components/graphic/softskills/통찰력_있는.tsx
  src/components/graphic/softskills/트렌드_빠른.tsx
  src/components/graphic/softskills/현실적인.tsx
  src/components/graphic/softskills/협력적인.tsx
  src/components/pill/Pill.stories.tsx
  src/components/pill/Pill.tsx
Labels: feat

#159 질문 폼 그만두기 Dialog 생성
  src/features/survey/addSurveyForm/AddSurveyForm.tsx
  src/features/survey/addSurveyForm/CreateStopDialog.tsx
  src/hooks/router/useInternalRouter.ts
  src/pages/survey/create.page.tsx
Labels: feat

#168 새로고침 시에도 추가 질문 유지
  src/features/survey/CreateDialog.tsx
  src/features/survey/CreateSurvey.tsx
  src/features/survey/types.ts
  src/hooks/storage/useLocalStorage.ts
Labels: feat

#169 질문폼 생성 후, 회원가입 안내 페이지로 이동
  src/features/survey/CreateSurvey.tsx
  src/hooks/router/useInternalRouter.ts
  src/pages/survey/create.page.tsx
  src/pages/survey/join.page.tsx
Labels: feat

#165 review - 소프트 스킬 선택 스탭
  src/components/graphic/softskills/Softskill.tsx
  src/components/pill/Pill.tsx
  src/components/pill/style.ts
  src/features/review/BottomNavigation.tsx
  src/features/review/steps/Cowork.tsx
  src/features/review/steps/ReviewSteps.stories.tsx
  src/features/review/steps/Softskill.tsx
  src/features/review/steps/softskill/PillCheckbox.tsx
  src/pages/review/[token].page.tsx
Labels: feat

#170 review - 주관식 질문 폼 개발 및 강점 스탭
  src/components/icons/ChevronArrowRightIcon.tsx
  src/features/review/chat/SubmitButton.tsx
  src/features/review/steps/ShortQuestion.tsx
  src/pages/review/[token].page.tsx
Labels: feat

#180 자잘한 버그 수정
  src/features/survey/Intro.tsx
  src/features/survey/intro/WatsonCharacter.tsx
  src/hooks/storage/useLocalStorage.ts
  src/pages/survey/index.page.tsx
  src/pages/survey/intro.page.tsx
Labels: bug

#182 review - question intro step
  public/images/review/question-intro.png
  public/images/review/question-intro.webp
  src/features/review/steps/QuestionIntro.tsx
  src/features/review/steps/ReviewSteps.stories.tsx
  src/pages/review/[token].page.tsx
Labels: feat

#187 review - last step
  public/images/review/last.png
  public/images/review/last.webp
  src/features/review/steps/Last.tsx
  src/pages/review/[token].page.tsx
Labels: feat

#183 review - 객관식 step
  src/features/review/steps/ChoiceQuestion.tsx
  src/features/review/steps/choice/Checkbox.tsx
  src/features/review/steps/choice/MaxSelectableSmall.tsx
  src/pages/review/[token].page.tsx
Labels: feat
