Repository depromeet/na-lab-client, pull requests merged in 2023-06, with the labels that each got.

#188 review - 소프트 스킬 스탭 토스트 적용, `Toast.Text` children 타입 변경
  src/components/graphic/softskills/결단력_있는.tsx
  src/components/toast/Toast.tsx
  src/features/review/steps/Softskill.tsx
Labels: feat

#190 review - 마지막 질문 대응
  src/features/review/BottomNavigation.tsx
  src/features/review/chat/ChatInputBottom.tsx
  src/features/review/chat/SubmitButton.tsx
  src/features/review/steps/ChoiceQuestion.tsx
  src/features/review/steps/ShortQuestion.tsx
  src/features/review/steps/type.ts
Labels: feat

#192 `z-index` theme에 추가
  src/components/bottomSheet/BottomSheet.tsx
  src/components/dialog/Dialog.tsx
  src/components/header/Header.tsx
  src/components/scrim/default.style.ts
  src/features/review/steps/Last.tsx
  src/features/review/steps/QuestionIntro.tsx
  src/features/survey/addSurveyForm/TextToggle.tsx
  src/styles/theme.ts
Labels: style

#197 질문 생성 - 최대 20개의 질문을 추가 가능
  src/features/survey/CreateSurvey.tsx
Labels: feat, :zap:

#200 링크 공유 페이지
  public/images/survey/link.png
  src/components/icons/LinkIcon.tsx
  src/pages/survey/join.page.tsx
  src/pages/survey/link.page.tsx
  src/utils/clipboard.ts
Labels: feat

#201 API base url 설정
  src/libs/api.ts
Labels: chore, :zap:

#203 review - `StepStatus` 적용
  src/features/review/StepStatus.stories.tsx
  src/features/review/StepStatus.tsx
  src/features/review/steps/Intro.tsx
  src/features/review/steps/Last.tsx
  src/features/review/steps/QuestionIntro.tsx
  src/hooks/step/useInjectedElementStep.ts
  src/pages/review/[token].page.tsx
Labels: feat

#209 review - intro 스탭 이미지 적용 및 `WatsonCharacter` 변경
  public/images/intro/intro_bg.png
  public/images/intro/intro_bg.webp
  src/components/watson/WatsonCharacter.tsx
  src/features/review/steps/Intro.tsx
  src/features/survey/Intro.tsx
  src/features/survey/intro/Intro.tsx
Labels: feat

#202 추가 질문 컴포넌트 리팩토링
  src/features/survey/AddQuestionList.tsx
  src/features/survey/CreateSurvey.tsx
  src/features/survey/addSurveyForm/AddMyQuestion.stories.tsx
  src/features/survey/questionList/QuestionListWithDnd.tsx
  src/features/survey/questionList/QuestionWithDnd.tsx
Labels: refactor

#211 axios 인스턴스 수정 및 `useGetSurveyById` 개발
  src/hooks/api/surveys/useGetSurveyById.ts
  src/libs/api.ts
Labels: feat

#217 CI 빌드 에러 수정
  .pnp.cjs
  .pnp.loader.mjs
  .yarnrc.yml
Labels: bug, fix

#215 추가 질문 생성 - 리뷰 적용
  src/features/survey/AdditionalQuestionList.tsx
  src/features/survey/CreateSurvey.tsx
  src/features/survey/SurveyFormBottomSheet.tsx
Labels: refactor, :zap:

#225 추가 질문 전역상태로 변경
  src/features/survey/AdditionalQuestionList.tsx
  src/features/survey/CreateSurvey.tsx
  src/features/survey/questionList/QuestionWithDnd.tsx
  src/pages/survey/create.page.tsx
  src/store/surveyCustomQuestions.ts
Labels: refactor

#226 LoadingHandler, Spinner
  src/components/loading/FixedSpinner.tsx
  src/components/loading/LoadingHandler.stories.tsx
  src/components/loading/LoadingHandler.tsx
  src/components/loading/Spinner.tsx
Labels: feat

#220 review - api 수신 이후 로직, 객관식 질문 로직
  src/features/review/steps/ChoiceQuestion.tsx
  src/features/review/steps/Intro.tsx
  src/features/review/steps/ReviewSteps.stories.tsx
  src/features/review/steps/ShortQuestion.tsx
  src/hooks/api/surveys/useGetSurveyById.ts
  src/pages/review/LoadedSurvey.tsx
  src/pages/review/[token].page.tsx
  src/pages/review/index.page.tsx
Labels: feat

#234 바텀 시트 최대폭 수정
  src/components/bottomSheet/BottomSheet.tsx
Labels: bug, :zap:

#236 디자인에 맞게 마이너한 수정
  src/features/survey/addSurveyForm/selectionTextfieldList/SelectionTextfield.tsx
  src/features/survey/questionList/Question.tsx
Labels: bug, :zap:

#240 객관식/주관신 선택 toggle 구현 방식 수정
  src/features/survey/addSurveyForm/AddSurveyForm.tsx
  src/features/survey/addSurveyForm/TextToggle.stories.tsx
  src/features/survey/addSurveyForm/TextToggle.tsx
Labels: bug

#243 질문 폼 생성 - 기본 질문 변경
  src/features/changeQuestion/ChangeQuestion.tsx
  src/features/survey/AdditionalQuestionList.tsx
  src/features/survey/CreateSurvey.tsx
  src/features/survey/SurveyFormBottomSheet.tsx
  src/features/survey/addSurveyForm/AddMyQuestion.stories.tsx
  src/features/survey/addSurveyForm/AddSurveyForm.tsx
  src/features/survey/constants.ts
  src/features/survey/questionList/Question.tsx
  src/features/survey/questionList/QuestionList.stories.tsx
  src/features/survey/questionList/QuestionList.tsx
  src/features/survey/questionList/QuestionWithDnd.tsx
  src/features/survey/types.ts
  src/store/surveyCustomQuestions.ts
Labels: fix

#232 font 적용
  src/assets/fonts/pretendard.ts
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/styles/GlobalStyle.tsx
Labels: fix, style

#235 review - 프로덕션 환경 포지션 위치 대응
  public/images/review/position/designer.png
  public/images/review/position/designer.webp
  public/images/review/position/developer.png
  public/images/review/position/developer.webp
  public/images/review/position/others.png
  public/images/review/position/others.webp
  public/images/review/position/pm.png
  public/images/review/position/pm.webp
  src/features/review/StepStatus.tsx
  src/features/review/steps/Position.tsx
  src/features/survey/Intro.tsx
  src/libs/api.ts
  src/styles/typo.ts
Labels: style

#241 axios request 인터셉터 설정 및 로그인 화면 홈으로 이전
  src/components/kakaoLoginButton/KakaoLoginButton.tsx
  src/constants/storage.ts
  src/libs/api.ts
  src/pages/index.page.tsx
  src/pages/login.page.tsx
Labels: feat

#246 질문 폼 생성 - 변경된 아이콘 적용
  src/components/icons/EditIcon.tsx
  src/components/icons/EmpathizingIcon.tsx
  src/components/icons/ListIcon.tsx
  src/components/icons/MessageIcon.tsx
  src/components/icons/ProfileIcon.tsx
  src/features/survey/questionList/Question.tsx
  src/features/survey/questionList/QuestionList.tsx
Labels: feat

#247 TextToggle 디자인 구현 수정
  src/features/survey/addSurveyForm/TextToggle.tsx
Labels: fix, :zap:

#250 Fix/옵션 입력한 값이 두개 이상이면 완료 버튼
  src/features/survey/addSurveyForm/AddSurveyForm.tsx
  src/features/survey/addSurveyForm/choiceForm/ChoiceForm.tsx
  src/features/survey/addSurveyForm/selectionTextfieldList/SelectionTextfieldList.tsx
Labels: fix

#249 모바일을 대응해서 padding을 여유롭게 수정
  src/features/survey/addSurveyForm/AddSurveyForm.tsx
Labels: fix

#252 review - 뒤로가기 시 이전 값 유지
  src/constants/storage.ts
  src/exceptions/ApiException.ts
  src/exceptions/type.ts
  src/features/review/StepStatus.stories.tsx
  src/features/review/steps/ChoiceQuestion.tsx
  src/features/review/steps/Cowork.tsx
  src/features/review/steps/Intro.tsx
  src/features/review/steps/Position.tsx
  src/features/review/steps/ShortQuestion.tsx
  src/features/review/steps/Softskill.tsx
  src/features/review/steps/type.ts
  src/hooks/api/surveys/useGetSurveyById.ts
  src/hooks/step/useStep.ts
  src/hooks/storage/useLocalStorage.ts
  src/libs/api.ts
  src/pages/review/LoadedSurvey.tsx
  src/pages/review/index.page.tsx
Labels: feat

#261 마지막 옵션 플래그 조건 수정
  src/features/survey/addSurveyForm/selectionTextfieldList/SelectionTextfieldList.tsx
Labels: fix, :zap:

#259 결과 페이지 api hook 및 `remotes` dir 생성
  src/features/review/steps/ChoiceQuestion.tsx
  src/features/review/steps/Position.tsx
  src/features/review/steps/position/Checkbox.tsx
  src/features/review/steps/type.ts
  src/hooks/api/feedbacks/useGetAllFeedbacksBySurveyId.ts
  src/hooks/api/feedbacks/useGetFeedbackById.ts
  src/hooks/api/feedbacks/useGetFeedbackSummaryBySurveyId.ts
  src/hooks/api/reviewers/useGetAllReviewersBySurveyId.ts
  src/hooks/api/reviewers/useGetReviewersSummaryBySurveyId.ts
  src/hooks/api/surveys/useGetSurveyById.ts
  src/pages/index.page.tsx
  src/pages/result/index.page.tsx
  src/pages/review/LoadedSurvey.tsx
  src/remotes/question.d.ts
  src/remotes/reviewer.d.ts
Labels: feat, refactor

#262 최초 진입 화면에서 질문 폼 생성하기로 넘어가기
  src/pages/index.page.tsx
Labels: :zap:

#270 카카오 로그인 로직 훅으로 분리
  src/components/kakaoLoginButton/KakaoLoginButton.tsx
  src/components/kakaoLoginButton/useKakaoLogin.tsx
Labels: :zap:

#265 review - `LoadingHandler` 적용
  src/pages/review/index.page.tsx
Labels: feat, :zap:

#269 에러 바운더리 및 에러 페이지
  src/components/error/ErrorBoundary.stories.tsx
  src/components/error/ErrorBoundary.tsx
  src/pages/404.page.tsx
  src/pages/500.page.tsx
  src/pages/_app.page.tsx
Labels: feat

#268 API 타입 대응, review 응답 POST, 이벤트 부착, 결과 페이지 인증 (w/ Feedback, Chart 타입 리팩토링)
  src/components/header/Header.tsx
  src/components/icons/LineThreeDotsIcon.tsx
  src/constants/position.ts
  src/features/.gitkeep
  src/features/feedback/Feedback.stories.tsx
  src/features/feedback/Feedback.tsx
  src/features/feedback/ParticipatingReviewerChart.stories.tsx
  src/features/feedback/ParticipatingReviewerChart.tsx
  src/features/feedback/ResearchMoveAnchor.stories.tsx
  src/features/feedback/ResearchMoveAnchor.tsx
  src/features/review/steps/ChoiceQuestion.tsx
  src/features/review/steps/Cowork.tsx
  src/features/review/steps/Intro.tsx
  src/features/review/steps/Last.tsx
  src/features/review/steps/Position.tsx
  src/features/review/steps/QuestionIntro.tsx
  src/features/review/steps/ReviewSteps.stories.tsx
  src/features/review/steps/ShortQuestion.tsx
  src/features/review/steps/Softskill.tsx
  src/features/survey/addSurveyForm/AddSurveyForm.tsx
  src/features/survey/constants.ts
  src/features/survey/types.ts
  src/hooks/api/feedbacks/useGetAllFeedbacksBySurveyId.ts
  src/hooks/api/feedbacks/useGetFeedbackById.ts
  src/hooks/api/reviewers/useGetAllReviewersBySurveyId.ts
  src/hooks/api/surveys/useGetSurveyById.ts
  src/hooks/api/surveys/useGetSurveyIdByUserStatus.ts
  src/hooks/api/surveys/usePostFeedbackBySurveyId.ts
  src/hooks/lifeCycle/useWillUnmount.ts
  src/pages/index.page.tsx
  src/pages/result/SurveyIdLoaded.tsx
  src/pages/result/index.page.tsx
  src/pages/review/LoadedSurvey.tsx
  src/remotes/question.d.ts
  src/remotes/reviewer.d.ts
  src/utils/localStorage.ts
Labels: feat

#276 review - 질문 폼 생성 api 이후 대응
  src/features/review/steps/ChoiceQuestion.tsx
  src/features/review/steps/ReviewSteps.stories.tsx
  src/features/review/steps/Softskill.tsx
  src/features/review/steps/softskill/PillCheckbox.tsx
  src/features/survey/addSurveyForm/AddSurveyForm.tsx
  src/features/survey/constants.ts
  src/features/survey/types.ts
  src/hooks/api/surveys/useGetSurveyById.ts
  src/hooks/api/surveys/usePostFeedbackBySurveyId.ts
  src/pages/review/LoadedSurvey.tsx
Labels: feat

#277 협업경험 카드 생성
  src/features/feedback/CollaborationCounter.stories.tsx
  src/features/feedback/CollaborationCounter.tsx
Labels: feat

#283 result type, navigation refactor
  src/components/navigation/Navigation.tsx
  src/features/review/steps/ChoiceQuestion.tsx
  src/features/review/steps/Softskill.tsx
  src/hooks/api/feedbacks/useGetAllFeedbacksBySurveyId.ts
  src/hooks/api/feedbacks/useGetFeedbackById.ts
  src/hooks/api/surveys/useGetSurveyById.ts
  src/pages/feedbacklist/[id].page.tsx
  src/pages/feedbacklist/index.page.tsx
  src/remotes/question.d.ts
  tsconfig.json
Labels: chore, refactor

#287 하단 버튼 드래그 막기
  src/components/button/Button.tsx
  src/styles/common.ts
Labels: style

#290 텍스트 넘어가는 문제 수정
  src/features/survey/questionList/Question.tsx
Labels: fix, :zap:

#288 SEO 컴포넌트 업데이트 및 적용
  public/default-og.png
  src/components/SEO/SEO.test.tsx
  src/components/SEO/SEO.tsx
  src/pages/404.page.tsx
  src/pages/500.page.tsx
  src/pages/feedbacklist/[id].page.tsx
  src/pages/feedbacklist/index.page.tsx
  src/pages/index.page.tsx
  src/pages/result/index.page.tsx
  src/pages/review/index.page.tsx
  src/pages/survey/create.page.tsx
  src/pages/survey/index.page.tsx
  src/pages/survey/intro.page.tsx
  src/pages/survey/join.page.tsx
  src/pages/survey/link.page.tsx
Labels: feat, test: unit

#289 favicon 업로드 및 적용
  public/favicon.ico
  src/pages/_document.page.tsx
Labels: feat, :zap:

#297 storybook babel transform error fix
  .pnp.cjs
  .storybook/main.ts
  .yarn/cache/@babel-code-frame-npm-7.22.5-b36f88d6f9-cfe804f518.zip
  .yarn/cache/@babel-generator-npm-7.22.5-0e87a1a822-efa64da70c.zip
  .yarn/cache/@babel-helper-annotate-as-pure-npm-7.22.5-f38dc8aa1c-53da330f18.zip
  .yarn/cache/@babel-helper-create-class-features-plugin-npm-7.22.5-f032702cef-f1e91deae0.zip
  .yarn/cache/@babel-helper-environment-visitor-npm-7.22.5-7bc52eec61-248532077d.zip
  .yarn/cache/@babel-helper-function-name-npm-7.22.5-8a1a69b63d-6b1f6ce1b1.zip
  .yarn/cache/@babel-helper-hoist-variables-npm-7.22.5-6db3192347-394ca191b4.zip
  .yarn/cache/@babel-helper-member-expression-to-functions-npm-7.22.5-04d5cbe959-4bd5791529.zip
  .yarn/cache/@babel-helper-module-imports-npm-7.22.5-399b6063db-9ac2b0404f.zip
  .yarn/cache/@babel-helper-module-transforms-npm-7.22.5-c31751930e-8985dc0d97.zip
  .yarn/cache/@babel-helper-optimise-call-expression-npm-7.22.5-846964ef82-c70ef6cc6b.zip
  .yarn/cache/@babel-helper-plugin-utils-npm-7.22.5-192e38e1de-c0fc722707.zip
  .yarn/cache/@babel-helper-replace-supers-npm-7.22.5-45a4aff2bc-af29deff6c.zip
  .yarn/cache/@babel-helper-simple-access-npm-7.22.5-0a3f578780-fe9686714c.zip
  .yarn/cache/@babel-helper-skip-transparent-expression-wrappers-npm-7.22.5-a398428942-1012ef2295.zip
  .yarn/cache/@babel-helper-split-export-declaration-npm-7.22.5-5e708abd3e-d10e05a02f.zip
  .yarn/cache/@babel-helper-string-parser-npm-7.22.5-448ff0e489-836851ca5e.zip
  .yarn/cache/@babel-helper-validator-identifier-npm-7.22.5-4536624779-7f0f301134.zip
  .yarn/cache/@babel-helper-validator-option-npm-7.22.5-eaf22b24ab-bbeca8a85e.zip
  .yarn/cache/@babel-highlight-npm-7.22.5-3182ccc1fe-f61ae6de6e.zip
  .yarn/cache/@babel-parser-npm-7.22.5-6f8647af64-470ebba516.zip
  .yarn/cache/@babel-plugin-syntax-jsx-npm-7.22.5-2cbf8e7e68-8829d30c26.zip
  .yarn/cache/@babel-plugin-syntax-typescript-npm-7.22.5-e17157d73d-8ab7718fbb.zip
  .yarn/cache/@babel-plugin-transform-modules-commonjs-npm-7.22.5-9fb6bd76fa-2067aca8f6.zip
  .yarn/cache/@babel-plugin-transform-typescript-npm-7.22.5-38e44b0cd5-d12f1ca1ef.zip
  .yarn/cache/@babel-preset-typescript-npm-7.22.5-cd7e0abd79-7be1670cb4.zip
  .yarn/cache/@babel-template-npm-7.22.5-358c44dc9d-c574641016.zip
  .yarn/cache/@babel-traverse-npm-7.22.5-071d471ccd-560931422d.zip
  .yarn/cache/@babel-types-npm-7.22.5-d1e4264bef-c13a9c1dc7.zip
  package.json
  yarn.lock
Labels: fix

#278 useScrollSpy 작성
  src/hooks/common/useScrollSpy.ts
Labels: feat

#302 나의 질문 폼 링크 복사 기능 구현
  src/features/survey/useCreateSurvey.tsx
  src/pages/survey/create.page.tsx
  src/pages/survey/join.page.tsx
  src/pages/survey/link.page.tsx
Labels: feat

#304 인트로 margin 수정
  src/features/survey/Intro.tsx
  src/features/survey/useCreateSurvey.ts
  src/utils/url.ts
Labels: fix, :zap:

#307 review - 무한 로딩 핸들링 w/ internal-router 타입 리팩토링
  src/features/review/steps/Last.tsx
  src/hooks/router/useInternalRouter.ts
  src/pages/feedbacklist/index.page.tsx
  src/pages/review/LoadedSurvey.tsx
Labels: fix, refactor

#310 review - 인트로 스탭에 헤더 추가
  src/components/icons/HomeIcon.tsx
  src/features/review/steps/Intro.tsx
  src/features/review/steps/intro/IntroHeader.tsx
Labels: feat, :zap:

#314 질문폼 생성안되는 문제 수정
  src/features/survey/useCreateSurvey.ts
  src/features/survey/useCreateSurvey.tsx
  src/pages/survey/create.page.tsx
Labels: fix

#315 link 페이지에서 id값을 받아오지 못함
  src/pages/survey/link.page.tsx
Labels: fix

#317 액세스 토큰 못받아오는 문제 응급조치
  src/pages/survey/join.page.tsx
Labels: fix

#322 이미지 로더 문제
  .pnp.cjs
  .yarn/cache/color-npm-4.2.3-4a23227581-0579629c02.zip
  .yarn/cache/color-string-npm-1.9.1-dc020e56be-c13fe7cff7.zip
  .yarn/cache/deep-extend-npm-0.6.0-e182924219-7be7e5a8d4.zip
  .yarn/cache/detect-libc-npm-2.0.1-2699cb2ac4-ccb05fcabb.zip
  .yarn/cache/expand-template-npm-2.0.3-80de959306-588c198472.zip
  .yarn/cache/github-from-package-npm-0.0.0-519f80c9a1-14e448192a.zip
  .yarn/cache/is-arrayish-npm-0.3.2-f856180f79-977e64f54d.zip
  .yarn/cache/napi-build-utils-npm-1.0.2-892e4bba56-06c14271ee.zip
  .yarn/cache/node-abi-npm-3.45.0-586bc5cf50-18c4305d7d.zip
  .yarn/cache/node-addon-api-npm-6.1.0-634c545b39-3a539510e6.zip
  .yarn/cache/prebuild-install-npm-7.1.1-cb9fc9d341-dbf96d0146.zip
  .yarn/cache/rc-npm-1.2.8-d6768ac936-2e26e052f8.zip
  .yarn/cache/semver-npm-7.5.2-28fb0fd2d6-3fdf5d1e6f.zip
  .yarn/cache/sharp-npm-0.32.1-5af640fc49-99f50df380.zip
  .yarn/cache/simple-concat-npm-1.0.1-48df70de29-4d211042cc.zip
  .yarn/cache/simple-get-npm-4.0.1-fa2a97645d-e4132fd27c.zip
  .yarn/cache/simple-swizzle-npm-0.2.2-8dee37fad1-a7f3f2ab5c.zip
  .yarn/cache/strip-json-comments-npm-2.0.1-e7883b2d04-1074ccb632.zip
  next.config.js
  package.json
  public/images/result/empty-file.png
  public/images/result/files.png
  src/features/feedback/ResearchMoveAnchor.tsx
  src/features/review/steps/Intro.tsx
  src/pages/result/SurveyIdLoaded.tsx
  yarn.lock
Labels: fix, :zap:

#316 fix: 결과페이지 360px 반응형 대응
  src/constants/name.ts
  src/features/feedback/ReceivedFeedbackCard.tsx
  src/pages/_app.page.tsx
  src/pages/feedback/[id].page.tsx
  src/pages/feedback/index.page.tsx
  src/styles/GlobalBackgroundColor.tsx
Labels: style

#321 홈 페이지 배경화면 그레디언트 적용
  src/pages/index.page.tsx
Labels: chore, :zap:

#319 Snack bar
  .storybook/preview.tsx
  src/components/snackBar/SnackBar.stories.tsx
  src/components/snackBar/SnackBar.tsx
  src/components/snackBar/SnackBarWrapper.tsx
  src/components/snackBar/useSnackBar.ts
  src/pages/_app.page.tsx
  src/store/snackBar.ts
Labels: feat

#323 응급조치 사항 롤백
  src/components/icons/KakaoIcon.tsx
  src/components/tooltipButton/TooltipButton.tsx
  src/features/review/steps/Last.tsx
  src/features/survey/useCreateSurvey.tsx
  src/pages/survey/join.page.tsx
  src/pages/survey/link.page.tsx
Labels: fix, refactor

#326 is_read 반대로 사용한 부분 수정
  src/features/feedback/Feedback.tsx
Labels: bug, fix

#327 page tracker
  src/hooks/event/usePageTrack.ts
  src/pages/_app.page.tsx
Labels: feat

#331 리뷰어 - 페이지 unload시 주관식 질문 로컬 스토리지 삭제 w/ `useBeforeUnload`
  src/hooks/common/useBeforeUnload.ts
  src/pages/review/LoadedSurvey.tsx
Labels: feat

#330 리뷰어 - 강점 타이틀 변경
  .vscode/settings.json
  src/pages/review/LoadedSurvey.tsx
Labels: feat

#333 개발 서버 분리
  src/libs/api.ts
Labels: feat, :zap:

#336 결과 - 새로운 피드백 없을 때 뱃지 제거
  src/features/feedback/ResearchMoveAnchor.tsx
Labels: feat, :zap:

#338 피드백 - hr 버그 수정
  src/pages/feedback/[id].page.tsx
Labels: fix

#342 결과 페이지 - 새로운 피드백 버튼 개발
  src/components/icons/LinkIcon.tsx
  src/features/feedback/NewFeedbackCopyButton.tsx
  src/pages/result/SurveyIdLoaded.tsx
Labels: feat
