Repository depromeet/na-lab-client, pull requests merged in 2023-07, with the labels that each got.

#347 프로덕션 환경 아닐 때 페이지 트랙 비활성화
  src/hooks/event/usePageTrack.ts
Labels: fix

#346 결과 페이지 상단 버튼, 링크 텍스트 및 디자인 변경
  src/features/feedback/NewFeedbackCopyButton.tsx
  src/features/feedback/ResearchMoveAnchor.tsx
Labels: feat, style

#349 새로운 피드백 있을 시 스낵바 띄우기
  src/components/snackBar/NewFeedbackSnackBarListener.tsx
  src/components/snackBar/SnackBar.tsx
  src/components/snackBar/SnackBarWrapper.tsx
  src/pages/_app.page.tsx
Labels: feat

#350 fix: 결과 협업 경험 조건문 변경
  src/features/feedback/CollaborationCounter.tsx
Labels: fix

#344 모바일 탭 터치 하이라이트 제거
  src/styles/GlobalStyle.tsx
Labels: style

#345 성향 얄약버튼 순서대로 색칠
  src/features/review/steps/Softskill.tsx
  src/features/review/steps/softskill/PillCheckbox.tsx
Labels: feat

#356 새로운 피드백 스낵바에 이벤트 부착
  src/components/snackBar/NewFeedbackSnackBarListener.tsx
Labels: chore, :zap:

#71 useIsMounted hook 작성
  src/hooks/lifeCycle/useIsMounted.test.ts
  src/hooks/lifeCycle/useIsMounted.ts
Labels: feat, test: unit, :zap:

#366 feat: 나와 잘맞는 DNA 배너
  public/images/dna/01_dna.png
  public/images/dna/01_dna.webp
  public/images/dna/02_dna.png
  public/images/dna/02_dna.webp
  public/images/dna/03_dna.png
  public/images/dna/03_dna.webp
  public/images/dna/04_dna.png
  public/images/dna/04_dna.webp
  public/images/dna/05_dna.png
  public/images/dna/05_dna.webp
  public/images/dna/06_dna.png
  public/images/dna/06_dna.webp
  src/components/banner/DnaBanner.stories.tsx
  src/components/banner/DnaBanner.tsx
  src/styles/typo.ts
Labels: style

#371 결과 로직 알고리즘 짜기
  src/hooks/lifeCycle/useIsMounted.test.ts
  src/hooks/lifeCycle/useIsMounted.ts
  src/pages/result/SurveyIdLoaded.tsx
  src/utils/resultLogic.ts
Labels: test: unit

#365 DNA 페이지 API 관련 로직
  src/hooks/api/feedbacks/useGetTendencyFeedbackBySurveyId.ts
  src/hooks/api/user/useGetUserInfoBySurveyId.ts
  src/pages/dna/LoadedDna.tsx
  src/pages/dna/[id].page.tsx
  src/pages/dna/type.ts
Labels: feat

#370 결과 페이지 상단 DNA 배너
  public/images/dna/01_banner.webp
  public/images/dna/02_banner.webp
  public/images/dna/03_banner.webp
  public/images/dna/04_banner.webp
  public/images/dna/05_banner.webp
  public/images/dna/06_banner.webp
  src/components/icons/HideIcon.tsx
  src/features/result/DnaBanner.tsx
  src/pages/result/SurveyIdLoaded.tsx
Labels: feat

#355 Intro 리팩토링 및 생성 플로우에 skip 기능 추가
  src/components/intro/IntroHeader.tsx
  src/components/intro/SkipStaggerWrapper.tsx
  src/components/intro/hooks.ts
  src/components/watson/WatsonCharacter.tsx
  src/features/review/steps/Intro.tsx
  src/features/survey/Intro.tsx
  src/hooks/step/useStep.ts
Labels: feat

#372 dna 페이지 퍼블리싱 및 로직 추가
  public/images/dna/result/A_dna.png
  public/images/dna/result/A_dna.webp
  public/images/dna/result/B_dna.png
  public/images/dna/result/B_dna.webp
  public/images/dna/result/C_dna.png
  public/images/dna/result/C_dna.webp
  public/images/dna/result/D_dna.png
  public/images/dna/result/D_dna.webp
  public/images/dna/result/E_dna.png
  public/images/dna/result/E_dna.webp
  public/images/dna/result/F_dna.png
  public/images/dna/result/F_dna.webp
  src/components/banner/DnaBanner.tsx
  src/components/header/Header.tsx
  src/constants/dna.ts
  src/features/dna/DnaBanner.stories.tsx
  src/features/dna/DnaBanner.tsx
  src/features/dna/TendencySection.tsx
  src/features/result/DnaBanner.tsx
  src/pages/dna/LoadedDna.tsx
  src/pages/dna/[id].page.tsx
  src/utils/resultLogic.ts
Labels: feat

#374 Input 컴포넌트 작성
  src/features/feedback/Input.tsx
Labels: feat

#391 input validation
  src/features/feedback/Input.tsx
Labels: feat

#400 다른 사람 DNA 페이지에 질문 폼 만든 사람이 방문했을 때 대응
  src/features/dna/BookmarkSection.tsx
  src/features/dna/DnaCta.tsx
Labels: feat

#401 추가 질문 폼 대응
  src/features/review/QuestionHeader.tsx
  src/hooks/api/surveys/useGetSurveyIdByUserStatus.ts
  src/pages/survey/join.page.tsx
Labels: feat

#402 리뷰 페이지 SSR 적용
  src/features/dna/DnaCta.tsx
  src/features/feedback/NewFeedbackCopyButton.tsx
  src/hooks/api/surveys/useGetSurveyById.ts
  src/hooks/api/user/useGetUserInfoBySurveyId.ts
  src/pages/result/SurveyIdLoaded.tsx
  src/pages/review/[id].page.tsx
  src/pages/review/index.page.tsx
  src/pages/survey/link.page.tsx
  src/types/page.ts
  src/utils/clipboard.ts
Labels: feat

#403 인풋 덜컥거리는 버그 수정
  src/features/feedback/Input.tsx
Labels: bug

#405 DNA 페이지 포지션 변경 시 invalidate
  src/pages/dna/LoadedDna.tsx
Labels: fix

#411 모바일에서 툴팁이 나타나지 않는 버그 수정
  src/components/tooltip/hooks/useOnClickTooltip.ts
Labels: bug

#412 새로고침시 스크롤 발생하는 버그 수정
  src/pages/_app.page.tsx
Labels: bug

#413 들여쓰기 수정
  src/pages/dna/LoadedDna.tsx
Labels: bug

#416 dna 타이포 수정
  src/constants/dna.ts
Labels: fix

#417 vercel analytics
  .pnp.cjs
  .yarn/cache/@vercel-analytics-npm-1.0.1-545fdc4bb4-6876e1d086.zip
  package.json
  src/pages/_app.page.tsx
  yarn.lock
Labels: feat

#419 토스트 메시지에 콤마가 붙어있는 부분을 제거했어요
  src/features/feedback/NewFeedbackCopyButton.tsx
  src/pages/result/SurveyIdLoaded.tsx
  src/pages/survey/link.page.tsx
Labels: bug

#418 리드미 초안
  README.md
Labels: docs

#387 이미지 다운로드 기능 구현
  .pnp.cjs
  src/components/header/Header.tsx
  src/components/icons/DownloadCircleIcon.tsx
  src/features/dna/DnaBannerView.tsx
  src/features/feedback/Input.tsx
  src/pages/dna/LoadedDna.tsx
  src/pages/dna/[id].page.tsx
  src/utils/createImage.ts
  src/utils/createImage.tsx
  src/utils/device.ts
  src/utils/image.ts
Labels: feat

#426 header 영역이 조금 짧은 ui 수정
  src/features/review/QuestionHeader.tsx
Labels: bug

#428 이미지 다운로드 png로 타입 변경
  src/utils/image.ts
Labels: bug

#430 navigator share 기능 제거
  src/pages/dna/LoadedDna.tsx
Labels: bug

#429 XSS 대응을 위한 문자열을 원복하는 로직
  src/features/feedback/Feedback.tsx
  src/utils/decodeString.ts
Labels: bug, feat

#431 이미지 다운로드 기능 수정
  src/pages/dna/LoadedDna.tsx
  src/pages/dna/[id].page.tsx
  src/utils/agent.ts
  src/utils/browser.ts
  src/utils/createImage.tsx
Labels: bug
