Repository depromeet/na-lab-client, pull requests merged in 2024-03, with the labels that each got.

#475 명함 갤러리 조회 & 필터 추가
  src/features/gallery/FilterTab.tsx
  src/features/gallery/Tab.tsx
  src/hooks/api/gallery/useGetGalleryList.tsx
  src/pages/gallery/index.page.tsx
  src/remotes/gallery.d.ts
Labels: feat

#473 내 명함 업로드 기능 추가
  src/components/icons/CheckCircleIcon.tsx
  src/components/toast/Toast.tsx
  src/features/gallery/Card.tsx
  src/features/gallery/FilterTab.tsx
  src/features/gallery/PublishMyCard/CardPublishBottomSheet.tsx
  src/features/gallery/PublishMyCard/InducePublishCard.tsx
  src/features/gallery/PublishMyCard/index.tsx
  src/features/gallery/Tab.tsx
  src/hooks/api/gallery/useGetGalleryList.tsx
  src/hooks/api/gallery/useGetGalleryPreview.tsx
  src/hooks/api/gallery/useGetMyCard.tsx
  src/hooks/api/gallery/usePostGallery.tsx
  src/pages/gallery/index.page.tsx
  src/remotes/gallery.d.ts
Labels: feat

#482 내가 저장한 명함 페이지 추가
  src/components/icons/MinusCircleIcon.tsx
  src/components/icons/ThreeDotsIcon.tsx
  src/features/gallery/Card.tsx
  src/features/gallery/PublishMyCard/JobSelectModal.tsx
  src/features/gallery/Tab.tsx
  src/features/gallery/useBookmark.tsx
  src/hooks/api/gallery/useGetMyBookmarkList.tsx
  src/pages/gallery/bookmarks.page.tsx
  src/pages/gallery/index.page.tsx
  src/remotes/gallery.d.ts
Labels: style

#481 사이드바 View 구현
  public/images/profile/profile-basic.png
  src/components/header/MobileHeader.tsx
  src/components/icons/BookmarkIcon.tsx
  src/components/sideMenu/MenuSection.tsx
  src/components/sideMenu/ProfileSection.tsx
  src/components/sideMenu/SideMenu.tsx
  src/hooks/api/user/useGetLogined.tsx
Labels: feat

#480 명함 갤러리 북마크 추가 / 삭제 기능
  src/components/icons/MinusCircleIcon.tsx
  src/components/icons/ThreeDotsIcon.tsx
  src/features/gallery/Card.tsx
  src/features/gallery/PublishMyCard/CardPublishBottomSheet.tsx
  src/features/gallery/PublishMyCard/JobSelectModal.tsx
  src/features/gallery/Tab.tsx
  src/features/gallery/useBookmark.tsx
  src/hooks/api/gallery/useGetMyBookmarkList.tsx
  src/hooks/api/gallery/usePostBookmark.tsx
  src/pages/gallery/bookmarks.page.tsx
  src/pages/gallery/index.page.tsx
  src/remotes/gallery.d.ts
Labels: feat

#494 갤러리 hotfix
  src/components/sideMenu/MenuSection.tsx
  src/features/gallery/Card.tsx
  src/features/gallery/FilterTab.tsx
  src/features/gallery/Tab.tsx
  src/hooks/api/gallery/useGetGalleryList.tsx
  src/pages/gallery/index.page.tsx
  src/styles/typo.ts
Labels: bug

#491 feat: 설문이 있을 때 핸들링
  public/images/result/empty.webp
  src/components/header/MobileHeader.tsx
  src/pages/result/base.page.tsx
  src/pages/survey/base.page.tsx
Labels: feat

#497 test: callback url 때문에 테스트 꺠지는 것 수정
  src/features/home/KakaoLogin.test.tsx
Labels: test: unit

#496 결과 페이지 피드백 없을 때, 공유 버튼 로직
  src/components/bottomBar/BottomBar.tsx
  src/features/gallery/PublishMyCard/InducePublishCard.tsx
  src/features/home/KakaoLogin.test.tsx
  src/pages/result/SurveyIdLoaded.tsx
  src/pages/result/WhenEmptyFeedback.tsx
  src/pages/result/base.page.tsx
  src/pages/result/index.page.tsx
Labels: test: unit
